<div class="col-md-9 row">
  {{#each data}}
    <div class="col-md-4 gutter">
      <div class="card">
        <img src="/images/module.jpg" class="card-img-top" alt="...">
        <!--FEATURE: dynamic image rendering using unsplash api -->
        <!-- TODO: need to decide if we want to include pictures in the cards or not since the compact view wouldn't benefit from having pictures-->
        <div class="card-body">
          <h5 class="card-title text-black"><a href="{{cdLink}}">{{moduleName}}</a></h5>
          <!--TODO: badges added here using bootstrap badges stuff thing ahhhh idk-->
        </div>
      </div>
    </div>
  {{/each}}
</div>