<div class="col-md-12 module">
  <h4 class="module-title">In progress</h4>
    {{> tableHeaderCnt}}
    <ul class="list-group module-list">
      {{#each data}}
        {{#if continue}}
          {{> cardData}}
        {{/if}}
      {{/each}}
      <h4 class="module-title text-muted">Not started</h4>
      {{> tableHeaderRem}}
      {{#each data}}
        {{#unless continue}}
          {{> cardData}}
        {{/unless}}
      {{/each}}
    </ul>
</div>