<nav class="navbar navbar-expand-md navbar-light mx-auto">
    <a class="navbar-brand ml-3" href="/">
        <span class="text-muted">ALMP</span>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-3" id="collapsibleNavId">
        <div class="ml-auto">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item">
                    {{#if activeDashboard}}
                        <a id="sidebar" class="nav-link active" href="/dashboard">Dashboard</a>
                    {{else}}
                        <a id="sidebar" class="nav-link" href="/dashboard">Dashboard</a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if activeModules}}
                        <a class="nav-link active" href="/modules">Modules</a>
                    {{else}}
                        <a class="nav-link" href="/modules">Modules</a>
                    {{/if}}
                </li>
                {{#if admin}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Utilities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">Extraction</a>
                            <a class="dropdown-item" href="">Assignment Addition</a>
                        </div>
                    </li>
                {{/if}}

                {{#if loggedOut}}
                    <a class="btn btn-primary" href="/login">Sign in</a>
                    <a class="btn btn-secondary" href="/signup">Sign up</a>
                {{else}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.name}}
                            <img src="https://via.placeholder.com/150" class="d-block profile-picture" alt="profile picture">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Logout</a>
                        </div>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
<a href='#' id='overlay-close'><i class='fa fa-close'></i></a>