<form action="" class="search form-group col-sm-8 mx-auto mt-5 mb-5">
    <input 
        type="text" 
        name="search" 
        class="search-input form-inline" 
        placeholder="Enter either module name, module number, professor, or topic"
        autocomplete="off">
    <button
        class="search-button"
        type="submit">
        <i class="fas fa-search search-icon"></i>
    </button>
</form>