<nav class="sidebar gutter">
    <nav class="nav nav-pills flex-column flex-sm-row w-50 mx-auto mt-3 mb-3">
        <a class="flex-sm-fill text-sm-center nav-link active" href="#">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">In Progress</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Remaining</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Done</a>
    </nav>
</nav>