<div class="row module-header">
    <div class="col-md-3 module-header-text">Module name</div>
    <div class="col-md-3 module-header-text">Progress %</div>
    <div class="col-md-3 module-header-text">Remaining</div>
</div>