<div class="row module-header">
    <div class="col-md-2 module-header-text">Module name</div>
    <div class="col-md-2 module-header-text">Professor</div>
    <div class="col-md-2 module-header-text">Difficulty</div>
    <div class="col-md-2 module-header-text">Main topic covered</div>
    <div class="col-md-2 module-header-text">Estimated duration</div>
</div>