<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} | EMSE Portal</title>
        {{> header}}
    </head>
<body>
    <div class="">
        {{>nav}}
        {{{ body }}}
    </div>
    
</body>
</html>