<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div class="row">
        <form action="/api/users" method="post" class="">
            <label for="">First Name
                <input type="text" name="firstName">
            </label><br>
            <label for="">Last Name
                <input type="text" name="lastName">
            </label><br>
            <label for="">Middle Initial
                <input type="text" name="middleName">
            </label><br>
            <label for="">Date of Birth
                <input type="text" name="dob">
            </label><br>
            <label for="">Intended Degree
                <input type="text" name="degree">
            </label><br>
            <label for="">Adviser
                <input type="text" name="adviser">
            </label><br>
            <label for="">Email
                <input type="email" name="email">
            </label><br>
            <label for="">Password
                <input type="password" name="password">
            </label><br>
            <label for="" class="hidden">Class taken
                <input type="hidden" name="classTaken">
            </label><br>
            <label for="" class="hidden">Class needed
                <input type="hidden" name="classNeeded">
            </label><br>
            <button type="submit">Submit</button>
        </form>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
