.search
  display: flex
  align-items: center
  &-icon
    margin:
      right: 2rem
    position: relative
    min-width: 3em
    min-height: 3em
    color: white
    background-color: $primary
    display: flex
    justify-content: center
    align-items: center
    border:
      radius: 100%
    &::before
      font-size: 1.25em
  &-input
    width: 100%
    box-shadow: 0 0.1em 0 $gray-600
    border: 0
    background-color: transparent
    text-align: center
    font-size: 1.2em
    color: $primary
    transition: 0.2s ease all
    padding: 0.25rem
    &::placeholder
    //TODO: this is where the autocomplete would be styled possibly since we would add the value as an attribute via JS
    &:focus
      outline: 0
      box-shadow: 0 0.175em 0 $secondary
      transition: 0.2s ease all
  &-button
    background-color: transparent
    border: 0
    &:focus
      outline: 0